# Privremeni fajlovi koje KiCad pravi dok radiš
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*~
_autosave-*
*.lck

# Cache i lokalna podešavanja (ne utiču na dizajn)
fp-info-cache
python-float-config
/production/netlist.ipc

# Backup folderi (Git je tvoj backup sada)
*-backups/

# Operativni sistem smeće
Thumbs.db
.DS_Store